*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
nav{
    background-color: #CBB8A7;
    
}
.nav-link:hover{
    border-left:2px solid #A3AD71 ;
    
    
}

      