*{
    margin: 0;
    padding: 0;
   
    
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
nav{
    background-color: #CBB8A7;
    
}
.nav-link:hover{
    border-left:2px solid #A3AD71 ;
    
    
}


.carousel-caption h2{
    color: #fdfdfc;
    font-size: 60px;
    font-weight: 700;
}
.carousel-caption h2:hover{
    color: #555f23;
}

.booking-btn{
color: #555f23;
    
    background-color: #fdfdfc;
    border: 2px solid #555f23;
    font-weight: 500;
    
}
.booking-btn:hover{
    background-color: #555f23;
    color: #fdfdfc;
    border: 2px solid #fdfdfc;
    
}
.section-title{
    color: #dab492;
}
.explore-btn{
    background-color: #A3AD71;
    color: #fdfdfc;
    border: 2px solid #fdfdfc;
    font-weight: 500;
}

.explore-btn:hover{
    color: #555f23;
    
    background-color: #fdfdfc;
    border: 2px solid #555f23;
}

.category{
    background-color: #A3AD71;
    color: #fdfdfc;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}
.category:hover{
    background-color: #fdfdfc;
    color: #555f23;
    border: 2px solid #555f23;
}
.price-title{
    color: #505f0f;
}
.check-icon{
    color: #505f0f;
}
.purchase-btn{
    border: none;
    background-color: #d2daad;
    color: #262c0d;
    
}
.hot-package{
    background-color: #717c3d;
    color: #fdfdfc;
    border-radius: 15px;
    position: relative;
}

.hot{
    position: absolute;
    top: -12px;
    right: 20px;
    border-radius: 10px;
    
    
}
.client{
    width: 100px;
}

.accordian-custom{
    border: 3px solid #A3AD71;
    margin-bottom: 20px;
    
}

.info{
    background-color: #A3AD71;
}
.contact h2{
     color: #A3AD71;
}

.submit-btn{
    border: none;
    background-color: #A3AD71;
    color: #fdfdfc;
}
.submit-btn:hover{
    border: none;
    color: #A3AD71;
    background-color: #fdfdfc;
    border: 2px solid #555f23;
}

.icon{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #A3AD71;
   
    
    color: #fdfdfc;
    
}
.icon:hover{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    color: #A3AD71;
   
    border: 1px solid #A3AD71;
    background-color: #fdfdfc;
    
}

.app{
    width: 135px;
    
}
.app-store{
    border: px solid white;
    border-radius: 10px;
}


     
